name: Go Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.22' # Use the Go version specified in go.mod

    - name: Build
      run: go build -v ./...

    - name: Test with Coverage
      run: go test -v -coverprofile=coverage.out ./...

    - name: Upload Coverage Report
      uses: codecov/codecov-action@v4
      with:
        file: ./coverage.out
        fail_ci_if_error: true # Optional: fail CI if Codecov upload fails

    - name: Set up golangci-lint
      uses: golangci/golangci-lint-action@v4
      with:
        version: v1.57 # Use a specific version of golangci-lint

    - name: Run golangci-lint
      run: golangci-lint run --verbose